$blue: #4db7c0;
$red: #e06c75;
$purple: #d07ede;
$green: #98c379;
$white: #fff;
$black: #21252b;


.bc-blue{
  background: $blue;
}
.bc-red{
  background: $red;
}
.bc-purple{
  background: $purple;
}
.bc-green{
  background: $green;
}
.bc-white{
  background: $white;
}
.bc-black{
  background: $black;
}

.tc-blue{
  color: $blue;
}
.tc-red{
  color: $red;
}
.tc-purple{
  color: $purple;
}
.tc-green{
  color: $green;
}
.tc-white{
  color: $white;
}
.tc-black{
  color: $black;
}
